/* products.css */

/* Category container styling */
.category-container {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-header {
    background-color: #17a2b8;
    color: white;
    border-radius: 4px;
    margin-bottom: 20px;
}

.card {
    display: flex; /* Use flexbox to align image and body */
    flex-direction: row; /* Horizontal alignment */
}

.card-img-left {
    max-width: 150px; /* Fixed width for image */
    object-fit: cover; /* Ensure images cover the space */
}

.card-body {
    display: flex;
    flex-direction: column; /* Keep the text vertically aligned */
    justify-content: space-between; /* Space between elements in card body */
    padding: 15px; /* Adjust padding as needed */
    width: calc(100% - 150px); /* Adjust width to make space for the image */
}

.card h5 {
    font-size: 1.2rem; /* Adjust font size */
}


.card:hover {
    transform: translateY(-5px);
}

.compact-badge {
    display: inline-block; /* Make the badge width fit the content */
    font-size: 0.8rem; /* Optional: Adjust font size */
    padding: 0.2em 0.4em; /* Adjust padding for a snug fit */
    line-height: 1; /* Adjust line height */
    min-width: 50px; /* Optional: Set a minimum width if needed */
}


.form-control, .form-select {
    margin-bottom: 10px;
}
